<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="./decorator">
<head>

    <!-- END SCRIPTS -->
</head>
<body  style="background: '#f5f5f5' ">
<div layout:fragment="content">
    <div class="container" style="margin-top: 20px;margin-bottom: 300px;">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Table</h3>

                </div>

                <div class="panel-body">
                    <!-- START CHECKBOXES RADIO AND SELECT -->
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <span>Album Name </span>
                                <input name="albumName" class="form-control" type="text" placeholder="Search"/>
                                <button id="ok" type="submit" class="btn btn-primary"><i class="fa fa-search"></i>查找
                                </button>
                                <a id="pc_refresh"  class="btn btn-primary"><i class="fa fa-edit"></i>test</a>
                            </div>
                        </div>
                    </div>

                        <table id="table"
                               data-classes="table  table-no-bordered  table-hover"
                               data-toggle="table"

                               data-toolbar="#toolbar"
                               data-query-params="queryParams"
                               data-url="/album"
                               data-side-pagination="server"
                               data-pagination="true"
                               data-page-list="[5, 10, 20]"
                               data-sort-name="AlbumName"
                               data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-sortable="true">id</th>
                            <th data-field="albumName" data-formatter="urlFormatter" data-sortable="true">AlbumName</th>
                            <th data-field="author" data-sortable="true">Author</th>
                            <th data-field="teammate.firstName" data-sortable="true">ClassifyId</th>
                            <th data-field="createTime" data-sortable="true">CreateTime</th>
                            <th data-field="descripe" data-sortable="true">Descripe</th>
                            <th data-field="publishDate">PublishDate</th>
                        </tr>
                        </thead>
                    </table>

<!--                    <table id="example" class="table  table-no-bordered  table-hover " cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>albumName</th>
                            <th>author</th>
                            <th>ClassifyId</th>
                            <th>CreateTime</th>
                            <th>Descripe</th>
                        </tr>
                        </thead>
                    </table>-->
              <!--      //修改了bootstrap Table js的1396行代码。-->
                </div>
            </div>

    </div>


    <!-- MODALS -->
    <div class="modal" id="mymodal" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="defModalHead">Basic Modal</h4>
                </div>
                <div class="modal-body">
                    Some content in modal example
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">/*<![CDATA[*/
    var editDialog;

    var $table = $('#table'),
            $ok = $('#ok');

    function showmodal(id) {

        editDialog.modal({
            remote: "/album/" + id ,
            show: true, backdrop: false
        });
//            editDialog.modal({
//                remote: "/test" + id + '&t=' + Math.random(1000),
//                show: true, backdrop: false
//            });

    }
    $(function () {

        editDialog = $("#mymodal").on("hidden.bs.modal", function () {
            $("#mymodal").removeData("bs.modal")
        });
        $ok.click(function () {
            $table.bootstrapTable('refresh');
        });

     /*   table = $('#example').DataTable( {
            "order": [[ 3, "desc" ]],
            "pagingType": "simple_numbers",//设置分页控件的模式
            searching: false,//屏蔽datatales的查询框
            "bLengthChange": true,
            "iDisplayLength": 10,//每页显示10条数据
            aLengthMenu:[10,20],//设置一页展示10条记录
            "bLengthChange": false,//屏蔽tables的一页展示多少条记录的下拉列表
            "oLanguage": {  //对表格国际化
                "sLengthMenu": "每页显示 _MENU_条",
                "sZeroRecords": "没有找到符合条件的数据",
                //  "sProcessing": "&lt;img src=’./loading.gif’ /&gt;",
                "sInfo": "显示第 _START_ 到第 _END_ 条记录,　共计 _TOTAL_ 条记录",
                "sInfoEmpty": "没有记录",
                "sInfoFiltered": "",
                "sSearch": "搜索：",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"

                }
            },
            "processing": true, //打开数据加载时的等待效果
            "serverSide": true,//打开后台分页
            "sAjaxSource": "/album?list",
            "columns": [
                { "data": "albumName" },
                { "data": "author" },
                { "data": "classifyId" },
                { "data": "createTime" },
                { "data": "descripe" },
            ]

        } );*/
    });

    $("#pc_refresh").click(function () {
        function p_refresh_shown() {
            //alert("shown");
            //panel_refresh($("#pc_refresh").parents(".panel"),"hidden",function(){alert("hidden")});
        }

        panel_refresh($("#pc_refresh").parents(".panel"), "shown", p_refresh_shown);

    });
/* 样例
    function stateFormatter(value, row, index) {
        if (index === 2) {
            return {
                disabled: true
            };
        }
        if (index === 5) {
            return {
                disabled: true,
                checked: true
            }
        }
        return value;
    }
*/


    function queryParams(params) {
        $('#toolbar').find('input[name]').each(function () {
            if($(this).val() != '')
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }

    function urlFormatter(value, row, index) {
        return '<a href="#" onclick=" showmodal('+ row.id +')" >'+ value +'</a>';
    }



    /*]]>*/</script>

</div>
</body>
</html>