<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!-- META SECTION -->
    <title>TITLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/css/theme-default.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstraptable/bootstrap-table.css}"
          href="/assets/bootstrap_table/bootstrap-table.css"/>
    <!-- EOF CSS INCLUDE -->
    <!-- START SCRIPTS -->

    <!-- START PLUGINS -->
    <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <script type="text/javascript" th:src="@{/js/plugins/bootstraptable/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/bootstraptable/locale/bootstrap-table-zh-CN.min.js}"></script>

    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

    <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <!-- END THIS PAGE PLUGINS -->
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/actions.js"></script>
    <!-- END SCRIPTS -->
</head>
<body>
<div class="page-container">
    <div class="page-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Select Table</h3>
            </div>
            <div class="panel-body">
                <!-- START CHECKBOXES RADIO AND SELECT -->
                <div id="toolbar">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <span>Album Name </span>
                            <input name="albumName" class="form-control" type="text" placeholder="Search"/>
                            <button id="ok" type="submit" class="btn btn-primary"><i class="fa fa-search"></i>查找</button>
                            <a id="edit" onclick="showmodal()"  class="btn btn-primary"><i class="fa fa-edit"></i>编辑</a>

                        </div>
                    </div>
                </div>
                <table id="table"
                       data-classes="table  table-hover table-no-bordered table-responsable"
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-query-params="queryParams"
                       data-url="/album"
                       data-side-pagination="server"
                       data-pagination="true"
                       data-page-list="[10]"
                       data-sort-name="AlbumName"
                       data-sort-order="desc">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id">id</th>
                        <th data-field="albumName">AlbumName</th>
                        <th data-field="author">Author</th>
                        <th data-field="classifyId">ClassifyId</th>
                        <th data-field="createTime">CreateTime</th>
                        <th data-field="descripe">Descripe</th>
                        <th data-field="publishDate">PublishDate</th>
                    </tr>
                    </thead>
                </table>


            </div>
        </div>

    </div>

</div>


<!-- MODALS -->
<div class="modal" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Basic Modal</h4>
            </div>
            <div class="modal-body">
                Some content in modal example
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    var $table = $('#table'),
            $ok = $('#ok');

    function showmodal() {
        $("#mymodal").on('hide.bs.modal', function () {
            $(this).removeData('bs.modal');

        });
        $("#mymodal").modal({
            remote: "/test",
            show: true,
        });


    }
    $(function () {
        $ok.click(function () {
            $table.bootstrapTable('refresh');
        });
    });

    $("#pc_refresh").click(function () {
        function p_refresh_shown() {
            //alert("shown");
            //panel_refresh($("#pc_refresh").parents(".panel"),"hidden",function(){alert("hidden")});
        }

        panel_refresh($("#pc_refresh").parents(".panel"), "shown", p_refresh_shown);

    });
    function stateFormatter(value, row, index) {
        if (index === 2) {
            return {
                disabled: true
            };
        }
        if (index === 5) {
            return {
                disabled: true,
                checked: true
            }
        }
        return value;
    }


    function queryParams() {
        var params = {};
        $('#toolbar').find('input[name]').each(function () {
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }

    function retrieve() {
        $table.bootstrapTable("refresh");
    }

</script>
</body>
</html>